body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

button {
  border: 2px dashed deeppink;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

details {
  margin: 17px;
}